In [78]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

### Assigning the dataset to a variable called "housing":

In [79]:
housing = pd.read_csv('Nashville Housing Data for Data Cleaning.csv')
housing

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE","April 9, 2013",240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE","June 10, 2014",366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE","September 26, 2016",435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE","January 29, 2016",255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE","October 10, 2014",278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56472,30469,188 10 0A 101.00,SINGLE FAMILY,"1435 WINDING CREEK DR, NOLENSVILLE","May 27, 2015",157500,20150608-0053286,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56473,27707,188 10 0A 107.00,SINGLE FAMILY,"1423 WINDING CREEK DR, NOLENSVILLE","March 2, 2015",145000,20150304-0019013,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56474,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,"1804 GRACE POINT LN, NOLENSVILLE","August 16, 2016",234611,20160819-0087214,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56475,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,"1709 PARK TERRACE LN, NOLENSVILLE","September 7, 2016",93844,20160919-0098411,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56476,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,"1713 PARK TERRACE LN, NOLENSVILLE","September 7, 2016",93844,20160919-0098411,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Conducting intial Data Exploration to explore the dataset for duplicate values, missing values, data types for each feature and summary statistics:

In [80]:
housing.duplicated().value_counts()

False    56477
dtype: int64

In [81]:
housing.dtypes

UniqueID             int64
ParcelID            object
LandUse             object
PropertyAddress     object
SaleDate            object
SalePrice           object
LegalReference      object
SoldAsVacant        object
OwnerName           object
OwnerAddress        object
Acreage            float64
TaxDistrict         object
LandValue          float64
BuildingValue      float64
TotalValue         float64
YearBuilt          float64
Bedrooms           float64
FullBath           float64
HalfBath           float64
dtype: object

In [82]:
housing.isnull().sum()

UniqueID               0
ParcelID               0
LandUse                0
PropertyAddress       29
SaleDate               0
SalePrice              0
LegalReference         0
SoldAsVacant           0
OwnerName          31216
OwnerAddress       30462
Acreage            30462
TaxDistrict        30462
LandValue          30462
BuildingValue      30462
TotalValue         30462
YearBuilt          32314
Bedrooms           32320
FullBath           32202
HalfBath           32333
dtype: int64

In [83]:
housing.describe()

,UniqueID,Acreage,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
count,56477.000000,26015.000000,2.601500e+04,2.601500e+04,2.601500e+04,24163.000000,24157.000000,24275.000000,24144.000000
mean,28334.001133,0.498923,6.906856e+04,1.607847e+05,2.323754e+05,1963.744899,3.089912,1.886014,0.283921
std,16352.590651,1.570454,1.060401e+05,2.067999e+05,2.810643e+05,26.542982,0.852869,0.961515,0.487881
min,0.000000,0.010000,1.000000e+02,0.000000e+00,1.000000e+02,1799.000000,0.000000,0.000000,0.000000
25%,14186.000000,0.180000,2.100000e+04,7.590000e+04,1.028000e+05,1948.000000,3.000000,1.000000,0.000000
50%,28313.000000,0.270000,2.880000e+04,1.114000e+05,1.485000e+05,1960.000000,3.000000,2.000000,0.000000
75%,42513.000000,0.450000,6.000000e+04,1.807000e+05,2.683500e+05,1983.000000,3.000000,2.000000,1.000000
max,56635.000000,160.060000,2.772000e+06,1.297180e+07,1.394040e+07,2017.000000,11.000000,10.000000,3.000000

### The list of issues to tidy within the original dataset:

#### 1) We notice that the dataset has a plethora of missing values, majority of which are missing alongside multiple other features. This indicates the data is primarily MNAR and makes up more than 50% of the dataset.

#### As a result of this, single or multiple imputation would not be apprioriate and the best decision would be to delete all missing values. The resulting dataset would contain just less than 50% of the original dataset, consisting of more than 23,000 non-empty rows of data, making it still a large enough sample to conduct EDA and Machine Learning.

In [84]:
housing.dropna(inplace = True)

In [85]:
housing.isnull().sum()

UniqueID           0
ParcelID           0
LandUse            0
PropertyAddress    0
SaleDate           0
SalePrice          0
LegalReference     0
SoldAsVacant       0
OwnerName          0
OwnerAddress       0
Acreage            0
TaxDistrict        0
LandValue          0
BuildingValue      0
TotalValue         0
YearBuilt          0
Bedrooms           0
FullBath           0
HalfBath           0
dtype: int64

In [86]:
housing.shape

(23705, 19)

#### 2) The number of unique types of housing ("LandUse") - we can factorise these into the following categories to clean up the dataset: Industrial, Residential, Commercial & Land:

In [87]:
housing.LandUse.unique()

array(['SINGLE FAMILY', 'VACANT RES LAND', 'DUPLEX',
       'VACANT RESIDENTIAL LAND', 'CHURCH', 'ZERO LOT LINE', 'PARSONAGE',
       'OFFICE BLDG (ONE OR TWO STORIES)',
       'GREENBELT/RES\r\nGRRENBELT/RES', 'CLUB/UNION HALL/LODGE',
       'MOBILE HOME', 'TRIPLEX', 'SPLIT CLASS', 'QUADPLEX',
       'RESIDENTIAL COMBO/MISC', 'LIGHT MANUFACTURING',
       'CONVENIENCE MARKET WITHOUT GAS', 'DORMITORY/BOARDING HOUSE',
       'FOREST', 'DAY CARE CENTER', 'TERMINAL/DISTRIBUTION WAREHOUSE',
       'STRIP SHOPPING CENTER', 'APARTMENT: LOW RISE (BUILT SINCE 1960)',
       'ONE STORY GENERAL RETAIL STORE', 'GREENBELT',
       'NON-PROFIT CHARITABLE SERVICE'], dtype=object)

In [88]:
housing.LandUse.nunique()

26

In [89]:
# We can apply a function to the feature 'LandUse' which factorises the 39 unique housing types into the 4 categories disucssed

list1 = ['SINGLE FAMILY','RESIDENTIAL CONDO','DUPLEX','VACANT RESIDENTIAL LAND','RESIDENTIAL COMBO/MISC','PARSONAGE', 'GREENBELT/RES\r\nGRRENBELT/RES','MOBILE HOME','TRIPLEX','VACANT ZONED MULTI FAMILY','CONDO','QUADPLEX','DORMITORY/BOARDING HOUSE','GREENBELT','CONDOMINIUM OFC  OR OTHER COM CONDO','VACANT RESIENTIAL LAND','APARTMENT: LOW RISE (BUILT SINCE 1960)','ZERO LOT LINE','SPLIT CLASS']
list2 = ['CHURCH','OFFICE BLDG (ONE OR TWO STORIES','PARKING LOT','CLUB/UNION HALL/LODGE','CONVENIENCE MARKET WITHOUT GAS','DAY CARE CENTER','METRO OTHER THAN OFC, SCHOOL,HOSP, OR PARK','NIGHTCLUB/LOUNGE','RESTURANT/CAFETERIA','STRIP SHOPPING CENTER','ONE STORY GENERAL RETAIL STORE', 'NON-PROFIT CHARITABLE SERVICE','SMALL SERVICE SHOP', 'MORTUARY/CEMETERY']
list3 = ['VACANT RURAL LAND','VACANT RES LAND','VACANT RESIDENTIAL LAND','VACANT COMMERCIAL LAND','VACANT RESIENTIAL LAND']

def use(row):
    if row in list1:
        return 'Residential'
    elif row in list2:
        return 'Commercial'
    elif row in list3:
        return 'Land'
    else:
        return 'Industrial'
    
housing.LandUse = housing.LandUse.apply(use)

In [90]:
# To confirm whether this lambda function has been applied correctly, let us now see the unique values in the 'LandUse' feature:

housing.LandUse.unique()

array(['Residential', 'Land', 'Commercial', 'Industrial'], dtype=object)

#### 3) The "SoldAsVacant"  Feature contains the following 4 unique values: "Yes", "No", "Y", "N"

#### In order to tidy up this feature, we can apply a lambda function to factorise the feature values into the following 2 binary variables: "Yes" & "No":

In [91]:
housing.SoldAsVacant.unique()

array(['No', 'N', 'Yes', 'Y'], dtype=object)

In [92]:
housing.SoldAsVacant = housing.SoldAsVacant.apply(lambda x: "Yes" if x == "Yes" or x == "Y" else "No")

In [93]:
# Confirming the following lambda function worked:

housing.SoldAsVacant.unique()

array(['No', 'Yes'], dtype=object)

#### 4) We notice that the following columns have float data types when the feature variables are integers: YearBuilt, Bedrooms, FullBath, HalfBath

#### We will convert these feature data types to integers to correctly represent the data type

In [94]:
housing[['YearBuilt','Bedrooms','FullBath','HalfBath']].dtypes

YearBuilt    float64
Bedrooms     float64
FullBath     float64
HalfBath     float64
dtype: object

In [95]:
housing.YearBuilt = housing.YearBuilt.astype('int')
housing.Bedrooms = housing.Bedrooms.astype('int')
housing.FullBath = housing.FullBath.astype('int')
housing.HalfBath = housing.HalfBath.astype('int')

In [96]:
housing[['YearBuilt','Bedrooms','FullBath','HalfBath']].dtypes

YearBuilt    int32
Bedrooms     int32
FullBath     int32
HalfBath     int32
dtype: object

#### 5) Removing features that are not important to housing market analysis we may wish to conduct, these features include: OwnerName, LegalReference, ParcelID

In [97]:
housing.drop(['OwnerName','ParcelID','LegalReference'], axis =1, inplace=True)

#### 6) Making the TaxDistrict, PropertyAddress, OwnerAddress string values neater:

In [98]:
housing.TaxDistrict = housing.TaxDistrict.str.title()
housing.PropertyAddress = housing.PropertyAddress.str.title()
housing.OwnerAddress = housing.OwnerAddress.str.title()

In [99]:
housing['PropertyAddressSplit'] = housing.PropertyAddress.str.split(',')
housing.PropertyAddress = housing.PropertyAddressSplit.str.get(1)

In [100]:
housing['OwnerAddressSplit'] = housing.OwnerAddress.str.split(',')
housing.OwnerAddress = housing.OwnerAddressSplit.str.get(1)

In [101]:
housing = housing.drop(['PropertyAddressSplit','OwnerAddressSplit'], axis = True)

In [102]:
housing.OwnerAddress.unique()

array([' Goodlettsville', ' Joelton', ' Madison', ' Nashville',
       ' Whites Creek', ' Old Hickory', ' Hermitage', ' Mount Juliet',
       ' Antioch', ' Brentwood'], dtype=object)

In [103]:
housing.PropertyAddress.unique()

array([' Goodlettsville', ' Joelton', ' Madison', ' Nashville',
       ' Whites Creek', ' Old Hickory', ' Hermitage', ' Mount Juliet',
       ' Antioch', ' Brentwood'], dtype=object)

#### 7) Modifying the SaleDate Feature to change the data type from object to datetime as well as displaying the dataset in order of descending SaleDate:

In [104]:
housing.SaleDate = pd.to_datetime(housing.SaleDate)
housing.dtypes

UniqueID                    int64
LandUse                    object
PropertyAddress            object
SaleDate           datetime64[ns]
SalePrice                  object
SoldAsVacant               object
OwnerAddress               object
Acreage                   float64
TaxDistrict                object
LandValue                 float64
BuildingValue             float64
TotalValue                float64
YearBuilt                   int32
Bedrooms                    int32
FullBath                    int32
HalfBath                    int32
dtype: object

In [105]:
housing.sort_values('SaleDate', ascending = False, inplace=True)

#### 8) Resetting the index for the final, completed cleaned dataframe:

In [111]:
housing.reset_index(drop=True, inplace=True)

#### 9) Converting the TaxDistrict Feature from an object data type to a string:

In [116]:
housing.TaxDistrict.unique()

array(['Urban Services District', 'General Services District',
       'City Of Goodlettsville', 'City Of Oak Hill',
       'City Of Belle Meade', 'City Of Forest Hills',
       'City Of Berry Hill'], dtype=object)

In [117]:
housing.TaxDistrict = housing.TaxDistrict.astype('str')

### Now I list the summary statistics, data types and the final dataframe for the cleaned dataset:

In [118]:
housing.dtypes

UniqueID                    int64
LandUse                    object
PropertyAddress            object
SaleDate           datetime64[ns]
SalePrice                  object
SoldAsVacant               object
OwnerAddress               object
Acreage                   float64
TaxDistrict                object
LandValue                 float64
BuildingValue             float64
TotalValue                float64
YearBuilt                   int32
Bedrooms                    int32
FullBath                    int32
HalfBath                    int32
dtype: object

In [114]:
housing.describe()

,UniqueID,Acreage,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
count,23705.000000,23705.000000,2.370500e+04,2.370500e+04,2.370500e+04,23705.000000,23705.000000,23705.000000,23705.000000
mean,27584.465260,0.455836,6.904970e+04,1.730583e+05,2.447819e+05,1963.723139,3.094115,1.896984,0.286648
std,16549.621489,0.793932,1.021612e+05,1.935828e+05,2.723682e+05,26.385627,0.850667,0.955172,0.489565
min,1.000000,0.040000,1.000000e+02,1.400000e+03,1.260000e+04,1799.000000,0.000000,0.000000,0.000000
25%,13068.000000,0.190000,2.200000e+04,8.390000e+04,1.098000e+05,1948.000000,3.000000,1.000000,0.000000
50%,27214.000000,0.270000,2.990000e+04,1.176000e+05,1.548000e+05,1960.000000,3.000000,2.000000,0.000000
75%,42016.000000,0.450000,6.030000e+04,1.892000e+05,2.782000e+05,1983.000000,4.000000,2.000000,1.000000
max,56615.000000,47.500000,1.869000e+06,5.824300e+06,6.402600e+06,2017.000000,11.000000,10.000000,3.000000

In [119]:
housing

,UniqueID,LandUse,PropertyAddress,SaleDate,SalePrice,SoldAsVacant,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,25542,Residential,Antioch,2019-12-13,118500,No,Antioch,0.24,Urban Services District,22000.0,67500.0,89500.0,1991,3,2,0
1,55343,Residential,Nashville,2016-10-31,205000,No,Nashville,0.35,Urban Services District,26000.0,85500.0,111500.0,1954,3,1,0
2,55740,Residential,Nashville,2016-10-31,412000,No,Nashville,0.35,Urban Services District,176000.0,99600.0,280100.0,1952,2,1,0
3,56328,Residential,Old Hickory,2016-10-31,465000,No,Old Hickory,0.41,General Services District,90000.0,308400.0,398400.0,2003,4,3,1
4,56231,Residential,Nashville,2016-10-31,398031,No,Nashville,0.16,Urban Services District,27000.0,40200.0,67200.0,1933,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23700,204,Residential,Brentwood,2013-01-02,1365000,No,Brentwood,1.99,General Services District,280800.0,1184700.0,1465500.0,2006,4,4,1
23701,298,Land,Nashville,2013-01-02,72500,No,Nashville,0.15,Urban Services District,60000.0,368200.0,459800.0,2013,5,3,1
23702,217,Residential,Nashville,2013-01-02,50000,No,Nashville,0.17,Urban Services District,45000.0,48200.0,93200.0,1918,3,1,0
23703,378,Residential,Nashville,2013-01-02,152000,No,Nashville,0.30,Urban Services District,22500.0,114700.0,139100.0,1974,4,3,0
23704,122,Residential,Nashville,2013-01-02,225000,No,Nashville,0.18,Urban Services District,140000.0,83400.0,245200.0,1940,2,1,0